@use "../../app/styles/mixins" as *;

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-template-areas:
        "title title"
        "description alcohol"
        "description rent"
        "gallery textile"
        "gallery interior"
        "gallery soundHardware"
        "gallery soundTechnician";
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    :first-child {
        font-family: var(--font-montserrat-alternates);
        font-weight: 700;
        text-align: center;
        font-size: 2.5rem;
    }

    :last-child {
        font-family: var(--font-montserrat);
        font-weight: 500;
        text-transform: uppercase;
    }
}

.description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--font-montserrat);
    justify-content: space-evenly;

    .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: var(--font-montserrat);
        font-weight: 500;
    }
}

.alcohol {
    grid-area: alcohol;
}

.rent {
    grid-area: rent;
}

.gallery {
    grid-area: gallery;
    position: relative;
}

.textile {
    grid-area: textile;
}

.interior {
    grid-area: interior;
}

.alcohol,
.rent,
.textile,
.interior,
.soundHardware,
.soundTechnician {
    display: flex;
    flex-direction: column;
    font-family: var(--font-montserrat);
    font-weight: 500;
    gap: 10px;

    :first-child {
        font-family: var(--font-montserrat-alternates);
        font-weight: 700;
        font-size: 1.2rem;
    }
}

@mixin smallSizes {
    .wrapper {
        padding: 70px 20px;
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "title"
            "description"
            "alcohol"
            "rent"
            "gallery"
            "textile"
            "interior"
            "soundHardware"
            "soundTechnician";
    }

    .title {
        text-align: center;
        text-wrap: pretty;
    }
}

@include md {
    @include smallSizes;
}

@include sm {
    @include smallSizes;
}
