@use "../../app/styles/mixins" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slogan {
    font-family: var(--font-montserrat-alternates);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 8px;
    text-transform: uppercase;
}

.navigationArea {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}

.navigationWrapper {
    margin-top: 21px;
}

.pageArea {
    flex: 1;
    overflow: hidden;
    padding-top: 20px;
}

@mixin smallSizes {
    .title,
    .slogan {
        display: none;
    }

    .navigationArea {
        margin-top: 100px;
    }

    .pageArea {
        overflow: unset;
    }

    .wrapper {
        overflow: auto;
    }
}
