@use "../../app/styles/mixins" as *;

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 70px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "title title title title"
        "description description description description"
        "event event birthday birthday"
        "event event corporate other";
}

.title {
    grid-area: title;
    h1 {
        font-family: var(--font-montserrat);
        font-weight: 600;
        text-transform: uppercase;
    }

    h2 {
        font-family: var(--font-montserrat-alternates);
        font-weight: 700;
        font-size: 3.5rem;
    }
}
.description {
    grid-area: description;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 1.21rem;
    line-height: 2rem;
}
.event {
    grid-area: event;
    border-bottom-left-radius: 30px;
}
.birthday {
    grid-area: birthday;
}
.corporate {
    grid-area: corporate;
}
.other {
    grid-area: other;
    border-bottom-right-radius: 30px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
}

.imageText {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(0.6);
    border-radius: inherit;
}

.upper {
    font-family: var(--font-montserrat-alternates);
    font-weight: 600;
    max-width: min-content;
}

.middle {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 0.8rem;
    white-space: pre-line;
    line-height: 1rem;
    margin-top: 30px;
}

.bottom {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 1rem;
    flex: 1;
    align-content: end;
    text-transform: capitalize;
}

@mixin smallSizes {
    .wrapper {
        padding: 80px 0px 80px 0px;
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas:
            "title"
            "description"
            "event"
            "birthday"
            "corporate"
            "other";
    }

    .title {
        h1 {
            display: none;
        }

        h2 {
            font-family: var(--font-montserrat-alternates);
            font-weight: 700;
            font-size: 2.5rem;
            text-align: center;
        }
    }

    .description {
        font-size: 0.8rem;
        line-height: normal;
    }

    .title,
    .description {
        margin: 0px 20px;
    }

    .imageWrapper {
        height: 200px;
    }
}

@include md {
    @include smallSizes;
}

@include sm {
    @include smallSizes;
}
