@use "../../app/styles/mixins" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
}

.title {
    font-family: var(--font-montserrat-alternates);
    font-size: 2rem;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    overflow-y: auto;
    width: calc(100% + 20px);
    padding-right: 20px;
    height: 100%;
    padding-bottom: 100px;
}

.list::-webkit-scrollbar {
    width: 6px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: #dcb68e;
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #f3e5d8;
}

.list {
    scrollbar-width: thin;
    scrollbar-color: #dcb68e transparent;
}

@include xxl {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@mixin smallSizes {
    .title {
        display: none;
    }

    .list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow-y: unset;
    }
}

@include sm {
    @include smallSizes;
}

@include md {
    @include smallSizes;
}

@include lg {
    @include smallSizes;
}
