@use "../../app/styles/mixins" as *;

.title {
    width: 175px;
    height: 83px;
    font-family: var(--font-kudry);
    font-size: 3rem;
    align-content: center;
    text-align: center;
    margin-top: 30px;
}

@include mobile {
    .title {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--background);
        border-bottom-left-radius: 90%;
    }
}
