.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.event {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
}

.birthday {
    grid-area: 1 / 2 / 2 / 4;
}

.gallery {
    grid-area: 2 / 2 / 3 / 3;
}

.other {
    grid-area: 2 / 3 / 3 / 4;
}