.marqueeWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.marqueeTrack {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    position: relative;
    user-select: none;
    &:hover {
        .scroll {
            animation-play-state: paused;
        }
    }
}


.marqueeContent {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem;
}

.scroll {
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}