.label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	color: #f1eeeb;
	background: rgba(230, 225, 221, 0.1);
	font-family: var(--font-montserrat-alternates);
	font-weight: 700;
	font-size: 0.7rem;
	padding: 20px 30px;
}

.input {
	display: flex;
	font-family: var(--font-montserrat);
	font-weight: 500;
	border: none;
	background: transparent;
	color: rgba(164, 164, 164, 1);
	width: 100%;

	&::placeholder {
		color: currentColor;
	}

	&:focus {
		outline: none;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-text-fill-color: rgba(164, 164, 164, 1);
		-webkit-box-shadow: 0 0 0 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
		caret-color: rgba(164, 164, 164, 1);
	}
}

.input[type="date"] {
	color-scheme: dark;
}

@media (width <= 1024px) {
	.input {
		font-size: 0.9rem;

		&::placeholder {
			font-size: 0.8rem;
		}
	}

	.label {
		padding: 10px 20px;
	}
}
