@use "../../app/styles/mixins" as *;

.motto {
    font-family: var(--font-denistina);
    align-content: center;
    text-align: center;
    text-wrap: pretty;
    height: 80px;
    font-size: 2rem;
}

@include mobile {
    .motto {
        font-size: 1.5rem;
    }
}
