@use "../../app/styles/mixins" as *;

.container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > h1,
    > h2,
    > p {
        margin-left: 5rem;
    }

    > h1 {
        font-family: var(--font-montserrat);
        font-size: 1.07631rem;
        font-weight: 600;
        letter-spacing: 0.10763rem;
        text-transform: uppercase;
    }

    > h2 {
        font-family: var(--font-montserrat-alternates);
        font-size: 3.76719rem;
        font-weight: 700;
    }

    > p {
        font-family: var(--font-montserrat);
        font-size: 1.21088rem;
        font-weight: 400;
        line-height: 2.15269rem;
    }

    .reviews {
        display: none;
    }
}

@mixin smallSizes {
    .container {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        padding: 80px 0px;

        h1 {
            display: none;
        }

        h2,
        p {
            text-align: center;
            margin-left: 0;
        }

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            line-height: normal;
        }

        .marquee {
            display: none;
        }

        .reviews {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }
    }
}

@include sm {
    @include smallSizes;
}

@include md {
    @include smallSizes;
}
