@use "../../app/styles/mixins" as *;

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    grid-template-areas:
        "reserve reserve"
        "description events"
        "gallery events";
}

.reserve {
    grid-area: reserve;
    display: flex;
    justify-content: center;
    gap: 10px;

    .first {
        font-family: var(--font-montserrat-alternates);
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .second {
        font-family: var(--font-montserrat);
        font-weight: 500;
        line-height: 1.5rem;
    }
}

.description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-family: var(--font-montserrat);
        font-weight: 500;
        line-height: 2rem;
    }

    h2 {
        font-family: var(--font-montserrat-alternates);
        font-size: 4rem;
        font-weight: 700;
        line-height: 2rem;
    }

    p {
        padding-top: 1rem;
        font-family: var(--font-montserrat);
        font-weight: 400;
        line-height: 2rem;
    }
}

.events {
    grid-area: events;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .eventWrapper {
        display: flex;
    }

    .event {
        display: flex;
        flex-direction: column;
        flex: 7;
        gap: 10px;
    }

    .eventDate {
        font-family: var(--font-montserrat);
        font-weight: 600;
        font-size: 0.8rem;
        color: rgba(255, 102, 0, 1);
    }

    .eventTitle {
        font-family: var(--font-montserrat-alternates);
        font-size: 1.5rem;
        font-weight: 700;
        max-width: 25rem;
    }

    .eventDescription {
        font-family: var(--font-montserrat);
        font-weight: 400;
    }

    .eventButton {
        display: inline-flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        flex: 1;
        height: 1rem;
    }
}

.gallery {
    grid-area: gallery;

    display: flex;
    gap: 20px;
    align-items: center;

    .galleryText {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        font-family: var(--font-montserrat-alternates);
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;
    }
}

@mixin smallSizes {
    .wrapper {
        padding: 70px 20px;
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "description"
            "events"
            "gallery"
            "reserve";
    }

    .description {
        h2 {
            font-size: 2rem;
            text-align: center;
        }
    }

    .reserve {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sendButton {
        width: 100%;

        button {
            width: 100%;
        }
    }
}

@include md {
    @include smallSizes;
}

@include sm {
    @include smallSizes;
}
