@use "../../app/styles/mixins" as *;

.wrapper {
    height: 200px;
    display: flex;
    background-color: var(--foreground);
    color: #412814;
    font-family: var(--font-montserrat-alternates);
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: rgb(4 21 26);
            color: var(--foreground);
        }
    }
}

.productInfo {
    flex: 1;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productImage {
    position: relative;
    height: 100%;
    flex: 0 1 260px;
}

.name {
    display: flex;
    align-items: flex-end;
}

.description {
    font-family: var(--font-montserrat);
    font-size: 0.8rem;
    flex-grow: 1;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap-style: pretty;
}

.price {
    display: flex;
    align-items: center;
}

.weight {
    font-size: 0.7rem;
}

@mixin smallSizes {
    .wrapper {
        height: 170px;
    }

    .productInfo {
        padding: 10px;
    }

    .productImage {
        flex-basis: 150px;
    }

    .name {
        font-size: 0.7rem;
    }

    .description,
    .weight {
        font-size: 0.7rem;
    }
}

@include sm {
    @include smallSizes;
}

@include md {
    @include smallSizes;
}
