@use "../../app/styles/mixins" as *;
@use "../../app/styles/variables" as *;

.layoutArea {
    display: flex;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

.sidebarArea {
    flex-shrink: 0;
    flex-basis: $sidebar-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 10px;
}

.pageAreaWrapper {
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 0px;
}

.pageArea {
    width: 100%;
    height: 100%;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.title {
    display: none;
}

.logo {
    width: 150px;
}

.motto {
    height: 80px;
    font-size: 1.5rem;
}

@mixin smallSizes {
    .pageAreaWrapper {
        flex-basis: calc(100%);
        flex-shrink: 0;
        transform: translateX(-$sidebar-width);
        padding: 10px;
    }

    .sidebarArea {
        transform: translateX(-$sidebar-width);
        gap: 0px;
    }

    .title {
        display: unset;
    }

    .layoutArea[opened] {
        .sidebarArea {
            transform: translateX(0);
        }

        .pageAreaWrapper {
            transform: translateX(0);
        }

        .title {
            transform: translateX(21rem);
        }
    }
}

@include md {
    @include smallSizes;
}

@include sm {
    @include smallSizes;
}
